<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>That's It!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/bulma/bulma.min.css">
</head>
<body>  
    <section class="section">
        <div class="container">
        <center><h3 class="title is-3">Your subtitle is fixed now!</h3></center><br><br>
	    <a href="{{ address }}" download>
		    <center><button type="button" class="button is-success">Download</button></center>
	    </a>
        </div>
    </section>
</body>
</html>
